<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Orderz</title>
    <link rel="icon" href="{{ url_for('static',filename='orderz_logo.svg') }}" type="image/svg">
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body class="bg-stone-100 dark:bg-gray-800 dark:text-white">

    <!-- Sidebar only gets shown when user is signed in -->
    {% if session['user_id'] %}
    {% include 'components/sidebar.html' %}
    {% endif %}

    <!-- Main -->
    <main class="relative {% if session['user_id'] %}sm:ml-64 min-h-[calc(100dvh-48px)] sm:min-h-lvh {% else %}min-h-lvh {% endif %}w-auto px-3 py-4">
        {% block main %}{% endblock %}

        <!-- Theme Toggle Button -->
        {% include 'components/toggle.html' %}
    </main>

    <!-- Footer -->
    <!-- TODO -->

    <!-- Flowbite's Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

    <!-- Theme Toggle Script -->
    <script src="{{ url_for('static',filename='src/themeToggle.js') }}"></script>
</body>
</html>